.article {
  margin: 20px;
  box-shadow: var(--blackShadow);
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  transition: all .3s;
}
.article:hover {
  transform: translateX(10px);
}
.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 30px 0 10px 0;
}
.text {
  color: var(--textColor);
  white-space: pre-line;
  font-size: 16px;
}
.delete {
  text-align: right;
}
.input {
  width: 100%;
  margin: 10px 0 ;
}